
#logo{
    width: 50px;
    border-radius: 50px;

}
.navbar-nav a {
    color: white;
}
.navbar-nav li {
    padding-left: 20px ;
}
.banner{
    margin: 0;
    padding-top: 5px;
    padding-bottom: 10px;
    position: relative;
}
#logosemma{
    width: 40%;
    margin: auto;
    display: block;
    
}
#semas{
    display: block;
    margin: auto;
}
footer{
    margin: 0;
    padding: 0;
}


.container-fluid{
    position:absolute;
    
    color: white;
    bottom: 0;
    width: 100%;
    height: 30px;
    text-align: center;


}